extends layout

block content
	div.container.command
		h2
			span.name= command.name
			span.usage= command.usage
		div.row
			div.col-sm-8
				if command.since
					p.text-muted= 'Available since ' + command.since + '.'
				p= command.description
				h3= 'Return value'
				p= command.return.type + ': ' + command.return.value
				if command.examples
					h3= 'Examples'
					pre
						each ex in command.examples
							= ex + '\n'
			div.col-sm-4
				a.btn.btn-default(href='/tests/?grep=' + command.name.toUpperCase() + '%20')
					span.glyphicon.glyphicon-check
					|  Run tests for 
					= command.name.toUpperCase()
				if command.related
					div.related
						h3= 'Related commands'
						ul
							each c in command.related
								li
									a(href='/commands/' + c + '.html')= c
