extends layout

block content
	div.container
		h1= command.name + ' ' + command.usage
		if command.since
			p= 'Available since ' + command.since + '.'
		p= command.description
		h2= 'Return value'
		p= command.return.type + ': ' + command.return.value
		if command.examples
			h2= 'Examples'
			code
				pre
					each ex in command.examples
						= ex + '\n'
		h2= 'Tests'
		a(href='#')= 'Tests for ' + command.name
		if command.related
			div
				h2= 'Related'
				ul
					each c in command.related
						li
							a(href='/commands/' + c + '/')= c
